# Lasair API Credentials
LASAIR_TOKEN=your_lasair_token_here
LASAIR_TOPIC=your_topic_here
LASAIR_GROUP_ID=your_group_id_here

# 4MOST API Credentials
FOURMOST_USERNAME=your_username
FOURMOST_PASSWORD=your_password
FOURMOST_SCHEMA=your_schema
FOURMOST_ACCESS_TOKEN=your_token

# TiDES Database Credentials
TIDES_DB_USER=db_user
TIDES_DB_PASS=db_pass
TIDES_DB_DATABASE=dopr4_tides
TIDES_DB_PORT=5432
TIDES_DB_HOST=localhost

# Test environment settings
TIDES_ENV=development
TIDES_TEST_DB_DATABASE=dopr4_tides_test
